<a href="https://colab.research.google.com/github/AmmAhhRin/Machine-Learning-/blob/main/Data_Wrangling_Assignment_5_22_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn    # machine learning
import numpy as np  # computation
import pandas as pd # data management

In [ ]:
#1. Load Data
dataset = pd.read_csv("https://raw.githubusercontent.com/datasets/political_geography/main/data/uk_eng.csv")
dataset.head(10)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
0,England,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
1,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
2,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
3,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
4,England,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/
5,England,Berkshire,Reading,borough,Reading,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.reading.gov.uk/
6,England,Berkshire,Slough,borough,Slough,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.slough.gov.uk/
7,England,Berkshire,West Berkshire,borough,West Berkshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.westberks.gov.uk/
8,England,Berkshire,Windsor and Maidenhead,borough,Windsor and Maidenhead,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.rbwm.gov.uk/
9,England,Berkshire,Wokingham,borough,Wokingham,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.wokingham.gov.uk/

In [ ]:
#2. Know the dimensions
dataset.shape

(306, 7)

In [ ]:
dataset.describe() #count, mean, std, min, max

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
count,306,306,192,306,47,298,304
unique,4,115,191,4,47,249,292
top,England,Greater London,Luton,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.nwleics.gov.uk/
freq,240,27,2,180,1,47,2

In [ ]:
#3. Check the variables (numerical)
numVar = dataset.columns[dataset.dtypes != 'object']
dataset[numVar].head(5)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
#3. Check the variables (categorical)
catVar = dataset.columns[dataset.dtypes == 'object']
dataset[catVar].head(5)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
0,England,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
1,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
2,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
3,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
4,England,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/

In [ ]:
#4. Missing values  #false=no missing, true=missing
dataset.isnull().head(5)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False

In [ ]:
#5. How many percentage is missing?
dataset.isnull().sum()/len(dataset)

administrative_area_level_1    0.000000
administrative_area_level_2    0.000000
administrative_area_level_3    0.372549
tag                            0.000000
features                       0.846405
url_shape                      0.026144
url                            0.006536
dtype: float64

In [ ]:
#5. How many percentage of numerical variable is missing?
dataset[numVar].isnull().sum()/len(dataset)

Series([], dtype: float64)

In [ ]:
#5. How many percentage of categorical variable is missing?
dataset[catVar].isnull().sum()/len(dataset)

administrative_area_level_1    0.000000
administrative_area_level_2    0.000000
administrative_area_level_3    0.372549
tag                            0.000000
features                       0.846405
url_shape                      0.026144
url                            0.006536
dtype: float64

In [ ]:
#6. Replace the missing value 
dataset.fillna("Fill missing value")

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
0,England,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
1,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
2,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
3,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,Fill missing value
4,England,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/
...,...,...,...,...,...,...,...
301,Wales,Rhondda Cynon Taf,Fill missing value,county,Fill missing value,https://statistics.data.gov.uk/geometry?resour...,https://www.rctcbc.gov.uk/
302,Wales,Swansea,Fill missing value,city,Fill missing value,https://statistics.data.gov.uk/geometry?resour...,https://www.swansea.gov.uk/
303,Wales,Torfaen,Fill missing value,borough,Fill missing value,https://statistics.data.gov.uk/geometry?resour...,https://www.torfaen.gov.uk/
304,Wales,Vale of Glamorgan,Fill missing value,county,Fill missing value,https://statistics.data.gov.uk/geometry?resour...,https://www.valeofglamorgan.gov.uk/
305,Wales,Wrexham,Fill missing value,county,Fill missing value,https://statistics.data.gov.uk/geometry?resour...,https://www.wrexham.gov.uk/

In [ ]:
#7 Replace value  
dataset['tag'].replace('borough', 'replacing values')

0      replacing values
1      replacing values
2      replacing values
3                county
4      replacing values
             ...
301              county
302                city
303    replacing values
304              county
305              county
Name: tag, Length: 306, dtype: object

In [ ]:
#8 Create the rows and add it with the orginal dataset #value of variables and instruct where the values should be stored
rowInsert = pd.Series(['Phnom Penh', 'Kampong Speu', 'Kampot', 'city', 'Unknown', 'https://drive.google.com/drive/my-drive', 'https://drive.google.com/drive/my-drive'] ,index = ['administrative_area_level_1','administrative_area_level_2','administrative_area_level_3', 'tag', 'features', 'url_shape', 'url'])
dataset.append(rowInsert, ignore_index=True)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
0,England,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
1,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
2,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
3,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
4,England,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/
...,...,...,...,...,...,...,...
302,Wales,Swansea,NaN,city,NaN,https://statistics.data.gov.uk/geometry?resour...,https://www.swansea.gov.uk/
303,Wales,Torfaen,NaN,borough,NaN,https://statistics.data.gov.uk/geometry?resour...,https://www.torfaen.gov.uk/
304,Wales,Vale of Glamorgan,NaN,county,NaN,https://statistics.data.gov.uk/geometry?resour...,https://www.valeofglamorgan.gov.uk/
305,Wales,Wrexham,NaN,county,NaN,https://statistics.data.gov.uk/geometry?resour...,https://www.wrexham.gov.uk/
306,Phnom Penh,Kampong Speu,Kampot,city,Unknown,https://drive.google.com/drive/my-drive,https://drive.google.com/drive/my-drive

In [ ]:
#9 Choose the exact rows from the data set (call the rows)
#iloc: to call specific rows 
dataset.iloc[1:4]

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
1,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
2,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
3,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN

In [ ]:
#9 Choose the exact rows from the data set 
#loc: to call based on specific values (only string)
dataset = dataset.set_index(dataset['tag']) 
dataset.loc['county'].head(5)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
tag,,,,,,,
county,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
county,England,Berkshire,NaN,county,Bracknell Forest|Reading|Slough|West Berkshire...,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
county,England,Buckinghamshire,NaN,county,Buckinghamshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.buckinghamshire.gov.uk/
county,England,Cambridgeshire,NaN,county,NaN,https://github.com/njh/radiodns-uk/tree/master...,https://www.cambridgeshire.gov.uk/
county,England,Cheshire,NaN,county,NaN,https://github.com/njh/radiodns-uk/tree/master...,https://www.cheshirewestandchester.gov.uk/home...

In [ ]:
#10 rename the columns 
dataset.rename(columns={'tag':'tags'}).head(5)

,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,tags,features,url_shape,url
tag,,,,,,,
borough,England,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
borough,England,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
borough,England,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
county,England,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
borough,England,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/

In [ ]:
#11 delete columns
dataset.drop('administrative_area_level_1', axis=1).head(5)

,administrative_area_level_2,administrative_area_level_3,tag,features,url_shape,url
tag,,,,,,
borough,Bedfordshire,Bedford,borough,Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bedford.gov.uk/
borough,Bedfordshire,Central Bedfordshire,borough,Central Bedfordshire,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.centralbedfordshire.gov.uk/
borough,Bedfordshire,Luton,borough,Luton,https://geoportal1-ons.opendata.arcgis.com/dat...,https://m.luton.gov.uk/
county,Bedfordshire,Luton,county,Luton|Central Bedfordshire |Bedford,https://geoportal1-ons.opendata.arcgis.com/dat...,NaN
borough,Berkshire,Bracknell Forest,borough,Bracknell Forest,https://geoportal1-ons.opendata.arcgis.com/dat...,https://www.bracknell-forest.gov.uk/

In [ ]:
#12 find unique value
dataset['features'].unique()

array(['Bedford', 'Central Bedfordshire', 'Luton',
       'Luton|Central Bedfordshire |Bedford', 'Bracknell Forest',
       'Reading', 'Slough', 'West Berkshire', 'Windsor and Maidenhead',
       'Wokingham',
       'Bracknell Forest|Reading|Slough|West Berkshire|Windsor and Maidenhead|Wokingham',
       nan, 'Buckinghamshire', 'City of London',
       'East Sussex|Brighton and Hove', 'Essex|Southend-on-Sea|Thurrock',
       'Barnet', 'Bexley', 'Bromley', 'Camden', 'Croydon', 'Ealing',
       'Enfield', 'Greenwich', 'Hackney', 'Haringey', 'Harrow',
       'Hillingdon', 'Hounslow', 'Islington', 'Kingston upon Thames',
       'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge',
       'Richmond upon Thames', 'Southwark', 'Tower Hamlets',
       'Waltham Forest', 'Wandsworth', 'Westminster',
       'Barking and Dagenham|Barnet|Bexley|Brent|Bromley|Camden|Croydon|Ealing|Enfield|Greenwich|Hackney|Hammersmith and Fulham|Haringey|Harrow|Havering|Hillingdon|Hounslow|Islington|Kensington and Chelsea|Kingston upon Thames|Lambeth|Lewisham|Merton|Newham|Redbridge|Richmond upon Thames|Southwark|Sutton|Tower Hamlets|Waltham Forest|Wandsworth|Westminster',
       'Hampshire|Southampton|Portsmouth', 'Hertfordshire', 'Kent|Medway',
       'Surrey', 'West Sussex'], dtype=object)

In [ ]:
#13 find min (only for numerical)
dataset.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

administrative_area_level_1     England
administrative_area_level_2    Aberdeen
tag                             borough
dtype: object

In [ ]:
#14 find max (only for numerical)
dataset.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

administrative_area_level_1       Wales
administrative_area_level_2     Wrexham
tag                            district
dtype: object

In [ ]:
#15 find sum (only for numerical)
dataset.sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

administrative_area_level_1    EnglandEnglandEnglandEnglandEnglandEnglandEngl...
administrative_area_level_2    BedfordshireBedfordshireBedfordshireBedfordshi...
tag                            boroughboroughboroughcountyboroughboroughborou...
dtype: object

In [ ]:
#16 find count
dataset.count()

administrative_area_level_1    306
administrative_area_level_2    306
administrative_area_level_3    192
tag                            306
features                        47
url_shape                      298
url                            304
dtype: int64